%{ if tls_cert_file != "" && tls_key_file != "" ~}
tls:
  certificates:
    - certFile: ${tls_cert_file}
      keyFile: ${tls_key_file}
%{ endif ~}

http:
  routers:
    kronize:
      entryPoints:
        - frontend
%{ if domain != "" ~}
      rule: "Host(`${domain}`)"
      tls: {}
%{ else ~}
      rule: "PathPrefix(`/`)"
%{ endif ~}
      service: kronize

%{ if domain == "" ~}
    kronize-api:
      entryPoints:
        - backend
      rule: "PathPrefix(`/api/`) || PathPrefix(`/assets/`)"
      service: kronize
%{ endif ~}

  services:
    kronize:
      loadBalancer:
        servers:
          - url: "http://${container_ip}:${app_port}"
